ENVIRONMENT=development
LOG_LEVEL=INFO
DEBUG=false

access_token_expire=15
refresh_token_expire=30

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password_here
REDIS_DB=0


API_GATEWAY_URL=http://api-gateway:8000
USER_URL=http://user-service:8000
TASK_URL=http://task-service:8000
NOTIFICATION_URL=http://notification-service:8000


USER_SERVICE_DB=user_service
TASK_SERVICE_DB=task_service
NOTIFICATION_SERVICE_DB=notification_service
ANALYTICS_SERVICE_DB=analytics_service


DATABASE_URL=postgresql+asyncpg://admin:admin123@postgres:5432/
DATABASE_POOL_SIZE=10
DATABASE_ECHO=false


SMTP_PORT=465
SMTP_USERNAME=your_email@mail.ru
SMTP_PASSWORD=your_app_password_here
SMTP_FROM_EMAIL=your_email@mail.ru
SMTP_USE_TLS=true


RATE_LIMIT_REQUESTS=100
RATE_LIMIT_PERIOD=60


CACHE_TTL=300


NOTIFICATION_QUEUE_NAME=notifications


AGGREGATION_PERIOD=5